@using Albertslund; 
@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 1920px; height:700px; background-color: lightsteelblue;">
    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img src="~/css/slide1.jpg">
                @*https://www.google.com/url?sa=i&url=https%3A%2F%2Fmiramar-home.com%2Fpassive-house-or-passivhaus-towards-efficient-construction%2F&psig=AOvVaw2jE1fXKY7WbbWbX4szx1qf&ust=1620118909291000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjP8_GTrfACFQAAAAAdAAAAABAD*@
            </div>
            <div class="img-container">
                <img src="~/css/slide2.jpg">
                @*https://www.google.com/url?sa=i&url=https%3A%2F%2Fphilkeandesigns.com%2Fblog%2Fflorida-solar-panel-roofs%2F&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAQ*@
            </div>
            <div class="img-container">
                <img src="~/css/slide3.jpg">
                @*https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.michael-hardy.co.uk%2Fblog%2Fwhat-to-consider-when-buying-or-selling-a-house-with-solar-panels.html&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAK*@
            </div>
            <div class="img-container">
                <img src="~/css/slide4.jpg">
                @*https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thursfields.co.uk%2Fbuying-a-house-with-solar-panels%2F&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAD*@
            </div>
        </div>
    </div>
</div>
