@using Albertslund;
@{
    ViewData["Title"] = "Home Page";
}

@{
    if (ViewBag.SessionSuccess == 0)
    {
        <script>alert("Login failed, please input correct username and password.")</script>
    }
}

<div style="height: 100%; width: 100%; object-fit: fill;">
    <img src="~/css/slide1.jpg" style="height: 100%; width: 100%; object-fit: fill;">
</div>

@*<div style="width: 100%; height: 700px; background-color: lightsteelblue; top: 80px; position: absolute; ">
    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img src="~/css/slide1.jpg">
                <div style="position: absolute; right:50px; top: 50px;">
                    <p style="line-height: 50px; font-size: 35px; font-weight: 450; color: ghostwhite; background: rgba(25, 25, 25, .4); border-radius: 20px; padding: 30px;">
                        All the citizens with address in Albertslund<br />
                        bennefit from a free account on this website.<br />
                        Contact the City Hall and ask for<br />
                        your first time login credentials.<br />
                    </p>
                </div>
                https://www.google.com/url?sa=i&url=https%3A%2F%2Fmiramar-home.com%2Fpassive-house-or-passivhaus-towards-efficient-construction%2F&psig=AOvVaw2jE1fXKY7WbbWbX4szx1qf&ust=1620118909291000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjP8_GTrfACFQAAAAAdAAAAABAD
            </div>
            <div class="img-container">
                <img src="~/css/slide2.jpg">
                <div style="position: absolute; left:50px; top: 50px;">
                    <p style="line-height: 50px; font-size: 35px; font-weight: 450; color: ghostwhite; background: rgba(25, 25, 25, .4); border-radius: 20px; padding: 30px;">
                        Did you know that the Danish State<br />
                        can offer grants for as much as 64.390 DKK<br />
                        payable in yearly installments, which you <br />
                        can use to make your house more energy efficient?<br />
                    </p>
                </div>
                https://www.google.com/url?sa=i&url=https%3A%2F%2Fphilkeandesigns.com%2Fblog%2Fflorida-solar-panel-roofs%2F&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAQ
            </div>
            <div class="img-container">
                <img src="~/css/slide3.jpg">
                <div style="position: absolute; left:50px; bottom: 50px;">
                    <p style="line-height: 50px; font-size: 35px; font-weight: 450; color: ghostwhite; background: rgba(25, 25, 25, .4); border-radius: 20px; padding: 30px;">
                        Are you living in Albertslund?<br />
                        Login and see how you can make <br />
                        your home more energy efficient.<br />
                    </p>
                </div>
                https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.michael-hardy.co.uk%2Fblog%2Fwhat-to-consider-when-buying-or-selling-a-house-with-solar-panels.html&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAK
            </div>
            <div class="img-container">
                <img src="~/css/slide4.jpg">
                <div style="position: absolute; right: 50px; bottom: 50px;">
                    <p style="line-height: 50px; font-size: 35px; font-weight: 470; color: ghostwhite; background: rgba(25, 25, 25, .4); border-radius: 20px; padding: 30px;">
                        Why make your house more energy efficient?<br />
                        To save up money on the bills.<br />
                        To reduce your CO2 fingerprint.<br />
                        To improve temperature stability indoors.
                    </p>
                </div>
                https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thursfields.co.uk%2Fbuying-a-house-with-solar-panels%2F&psig=AOvVaw2nPipPdAG3FWarbKy7cLTV&ust=1620118908228000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDWiqWTrfACFQAAAAAdAAAAABAD
            </div>
        </div>
    </div>
</div>*@