<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Albertslund</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/accountInformation.css" />
    <link rel="stylesheet" href="~/css/contactAdvisor.css" />
</head>
<body>
    @* This is the website's LOGO *@
    <div style="width: 300px; height: 46px; position: fixed; left: 2%; top: 3%">
        <img src="~/css/AlbertslundLogo.png" width="300px" height="46px" />
    </div>

    @* Put here the NAVIGATION buttons for the top menu *@
    <header class="header">
        <div class="container" style="width: 1000px; height: 60px; margin-top: 1.7%">
            <a asp-area="" asp-controller="Home" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: navy; font-size: 25px;">
                Home
            </a>

            <a asp-area="" asp-controller="AccountInformation" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: navy; font-size: 25px;">
                Account Information
            </a>

            <a asp-area="" asp-controller="Login" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: navy; font-size: 25px;">
                Login
            </a>

            <a asp-area="" asp-controller="ContactAdvisor" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: navy; font-size: 25px;">
                Contact Advisor
            </a>

        </div>
    </header>

    @* Put here the BODY main elements *@

    <main role="main" class="pb-3">
        <div style="margin-top: 1%">
            @RenderBody()
        </div>
    </main>


    @* Put here the CONTACT details *@
    <footer class="footer" style="background-color: navy; position: fixed; left: 0; bottom: 0; width: 100%;">
        <div style="margin-left: 25%; margin-bottom: 20px; margin-top: 20px; text-align: left;  font-size: 17px; color: whitesmoke; line-height: 35px;">
            <p style="margin: 0; ">E-mail: albertslund@albertslund.dk</p>
            <p style="margin: 0; ">Phone: +45 43 68 68 68</p>
            <p style="margin: 0; ">Fax: Fax +45 43 68 69 28</p>
            <p style="margin: 0; ">Address: Nordmarks Allé 2620 Albertslund Denmark</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
