@using Albertslund;
@model ViewModel
@{
    ViewData["Title"] = "Account Information";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Albertslund</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/accountInformation.css" />
    <link rel="stylesheet" href="~/css/contactAdvisor.css" />
</head>
<body>
    <div id="google_translate_element"></div>

    @* Put here the NAVIGATION & FOOTER elements *@

    <header class="header" style="width: 100%; height: 80px; overflow: hidden;">

        @* Here sits the TOP-LEFT Albertslund LOGO *@
        <div style="width: 20%; height: 53px; margin-left: 2%; margin-top: 15px; float: left;">
            <a href="https://albertslund.dk/" style="width:300px; height:53px;">
                <img src="~/css/AlbertslundLogo.png" style="width:300px; height:53px;" />
            </a>
        </div>

        @* Here sit the CENTER NAVIGATION elements *@
        <div style="width: 56%; height: 27px; margin-top: 17px; text-align: center; float: left;">
            <a asp-area="" asp-controller="Home" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: #0A367E; font-size: 27px;">
                Home
            </a>

            <a asp-area="" asp-controller="AccountInformation" asp-action="Index"
               style="width: 100px; height: 60px; margin-left: 25px; margin-right: 25px; text-decoration: none; color: #0A367E; font-size: 27px;">
                Account
            </a>
        </div>

        @* Here sit the TOP-RIGH LOGIN elements *@
        <div style="width: 20%; height: 53px; margin-right: 2%; margin-top: 15px; float: right; text-align: right;">
            <a class="open-button" onclick="openForm()" style="width: 55px; height: 60px; text-decoration: none; color: #0A367E; font-size: 27px; cursor: pointer;">
                Login
            </a>
            <div class="form-popup" id="myForm" style="display: none; position: fixed; top: 15px; right: 15px; z-index: 9;">
                @* Join this FORM with back-end for LOGIN *@
                <form method="post"  asp-action="Login" asp-controller="Login"class="form-container" style="max-width: 300px; padding: 10px; background-color: #0A367E; text-align: left;  border-radius: 5px;">
                    <label for="username" style="text-decoration: none; color: ghostwhite; font-size: 27px; font-weight: 200;"><b>Username:</b></label>
                    <input asp-for="user.username" type="text" placeholder="Enter Username" name="user.username" required style="border-radius: 5px; width: 100%; padding: 15px; margin: 5px 0 22px 0; border: none; background: #f1f1f1;" />

                    <label for="password" style="text-decoration: none; color: ghostwhite; font-size: 27px; font-weight: 200;"><b>Password:</b></label>
                    <input asp-for="user.password" type="password" placeholder="Enter Password" name="user.password" style="border-radius: 5px; width: 100%; padding: 15px; margin: 5px 0 22px 0; border: none; background: #f1f1f1;" />

                    <button type="submit" class="btn" style="background-color: #04AA6D; color: white; padding: 16px 20px; border: none; cursor: pointer; width: 100%; margin-bottom: 10px;">Login</button>
                    <button type="button" class="btn cancel" style="background-color: #EF0107; color: white; padding: 16px 20px; border: none; cursor: pointer; width: 100%; margin-bottom: 10px;" onclick="closeForm()">Cancel</button>
                </form>
                <script>
                    function openForm() {
                        document.getElementById("myForm").style.display = "block";
                    }
                    function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                    }
                </script>
            </div>
        </div>
    </header>

    @* Put here the BODY main elements *@

    <main role="main">
        <div style="">
            @RenderBody()
        </div>
    </main>


    @* Put here the FOOTER elements *@

    <footer class="footer" style="background-color: #0A367E; position: fixed; left: 0; bottom: 0; width: 100%; overflow:hidden;height:auto;">

        @* LEFT HALF *@
        <div style="float: left; width: 25%; margin-left: 25%; margin-bottom: 20px; margin-top: 20px; text-align: left;  font-size: 17px; color: whitesmoke; line-height: 35px;">
            <p style="margin: 0; ">E-mail: albertslund@albertslund.dk</p>
            <p style="margin: 0; ">Phone: +45 43 68 68 68</p>
            <p style="margin: 0; ">Fax: Fax +45 43 68 69 28</p>
            <p style="margin: 0; ">Address: Nordmarks Alle 1, 2620 Albertslund</p>
        </div>

        @* RIGHT HALF *@
        <div style="float: right; width: 25%; margin-right: 25%; margin-bottom: 20px; margin-top: 20px; text-align: left;  font-size: 17px; color: whitesmoke; line-height: 35px;">
            <p style="margin: 0; ">
                Click here to contact an energy advisor &emsp;<br />
                <a asp-area="" asp-controller="ContactAdvisor" asp-action="Index"
                   style="height:25px; width: 35px;">
                    <img src="~/css/customer service inverted logo.png" style="height: 25px; width: 35px;" />
                    @*https://www.google.com/search?q=customer+service+white+logo&tbm=isch&ved=2ahUKEwiFq_XP0LDwAhXj8bsIHVfPDgsQ2-cCegQIABAA&oq=customer+service+white+logo&gs_lcp=CgNpbWcQAzoGCAAQBxAeOggIABAHEAUQHjoICAAQCBAHEB46BggAEAgQHlCFkwZYvqUGYLisBmgAcAB4AIABQIgBtgaSAQIxNpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=2Y6RYMXaOuPj7_UP1567WA&bih=939&biw=1920&client=opera&hs=lWi#imgrc=d4uFG7OOZSYlOM*@
                </a>
            </p>
            <p style="margin: 0; ">
                Follow us on social media<br>
                <a href="https://www.linkedin.com/company/albertslund-kommune/" style="width:30px;height:30px;">
                    <img src="~/css/linkedin white logo.png" style="width:30px;height:30px;" />
                    @*https://www.google.com/search?q=Linkedin+white+logo&tbm=isch&ved=2ahUKEwiYpunFzbDwAhWIu6QKHWj8BQUQ2-cCegQIABAA&oq=Linkedin+white+logo&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgYIABAFEB4yBggAEAUQHjoECAAQQ1C1uwVYidQFYKjWBWgAcAB4AIABVIgBugmSAQIxOZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=n4uRYNjaHYj3kgXo-Jco&bih=939&biw=1920&client=opera&hs=YJi#imgrc=301TvyXw7oRGhM*@
                </a>
                &ensp;
                <a href="https://www.facebook.com/albertslundkommune" style="width:30px;height:30px;">
                    <img src="~/css/facebook white logo.png" style="width:30px;height:30px;" />
                    @*https://www.google.com/search?q=facebook+black+logo&tbm=isch&ved=2ahUKEwiOscTf1rDwAhUe5rsIHb49D3sQ2-cCegQIABAA&oq=facebook+black+logo&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BggAEAcQHlC7owVY5qcFYLytBWgAcAB4AIABQIgBlQKSAQE1mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=RZWRYM76E57M7_UPvvu82Ac&bih=939&biw=1920&client=opera&hs=YJi#imgrc=ayIHkfxUUH7BmM*@
                </a>
                &ensp;
                <a href="https://www.instagram.com/voresalbertslund/?fbclid=IwAR0aEbm0LNo76zT6pXQ6ygyOcgHbgUnxcdQkpNoDrJw30gQN2i7RqeSBajw" style="width:30px;height:30px;">
                    <img src="~/css/instagram white logo.png" style="width:30px;height:30px;" />
                    @*https://www.google.com/search?q=instagram+white+logo&client=opera&hs=bBj&tbm=isch&source=iu&ictx=1&fir=mtTtjw21K4BQbM%252Cx4kr8Q0smV95CM%252C_&vet=1&usg=AI4_-kS-i6lLeJ3zX3FQdbq_M_qrpZ8VeQ&sa=X&ved=2ahUKEwi1lb-C2rDwAhVK9IUKHWUfDqsQ9QF6BAgTEAE&biw=1920&bih=939#imgrc=AfzKj8AW6z3hWM*@
                </a>
                &ensp;
                <a href="https://goo.gl/maps/6Ppak8rgvPNUkELY9" style="width:30px;height:30px;">
                    <img src="~/css/google maps white logo.png" style="width:30px;height:30px;" />
                    @*https://www.google.com/search?q=google+maps+white+logo&tbm=isch&ved=2ahUKEwiKg-7T27DwAhV367sIHXeSAG8Q2-cCegQIABAA&oq=google+maps+white+logo&gs_lcp=CgNpbWcQAzICCAAyBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeOgYIABAHEB46CAgAEAgQBxAeUOjCAli2yQJgy8oCaABwAHgAgAEyiAGcApIBATaYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=a5qRYMqhAffW7_UP96SC-AY&bih=939&biw=1920&client=opera&hs=xx3#imgrc=GKto0o0G9rQKyM*@
                </a>
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/accountInformation.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
