@page
@model Albertslund.Views.AccountInformation.IndexModel
@{
}
<div id="accountSection" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img id="avatar" src="https://www.acumarketing.com/acupuncture-websites/wp-content/uploads/2020/01/anonymous-avatar-sm.jpg" alt="avatar" />
            <p>Username: </p>
            <p>Password: </p>
        </div>
        <div id="acountInformationSection" class="col-sm-8">
            <div id="contactInfo">
                <h3 class="sectionHeadder">Contact Information</h3>
                <p>Phone: </p>
                <p>Email: </p>
                <p>Social Media: </p>
            </div>
            <div id="addressInfo">
                <h3 class="sectionHeadder">Address Information</h3>
                <p>Street: </p>
                <p>ZIP: </p>
                <p>Region: </p>
            </div>
            <div id="paymentInfo">
                <h3 class="sectionHeadder">Payment Information</h3>
                <p>Acc. No.: </p>
                <p>Bank Name: </p>
            </div>
            <div id="houseInfo">
                <h3 class="sectionHeadder">House Information</h3>
                <p>Type: </p>
                <p>Total Area: </p>
                <p>Heating System: </p>
            </div>
        </div>
    </div>
</div>
