body {
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

.slider-frame {
    overflow: hidden;
    height: 700px;
    width: 1920px;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 70%;
}

@-webkit-keyframes slide_animation {
    0% {left: -1920px;}
    10% {left: -1920px;}
    15% {left: 0px;}
    20% {left: 0px;}
    30% {left: 1920px;}
    35% {left: 1920px;}
    40% {left: 1920px;}
    45% {left: 3840px;}
    50% {left: 3840px;}
    60% {left: 1920px;}
    70% {left: 1920px;}
    75% {left: 0px;}
    80% {left: 0px;}
    90% {left: -1920px;}
    100% {left: -1920px;}
}

.slide-images {
    width: 7680px;
    height: 700px;
    margin: 0 0 0 -3840px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 700px;
    width: 1920px;
    position: relative;
    float: left;
}