@using Albertslund;
@model Email
@{
}
@*<div style="width: 50%; height: 65%; margin-left: 25%; border: 1px solid; box-shadow: 5px 5px 5px 5px #0A367E; position: absolute;">
    <form id="contactPageForm" method="POST" action="/ContactAdvisor/SendEmail" style="width: 90%; height: 90%; margin-left: 5%; margin-top: 5%; position: absolute;">
        <div style="width: 100%; height: 100%;">
            <h3 margin="0">How could we help you?</h3> <br />
            <div style="float: left; width: 30%; height: 63%;">
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="firstName" asp-for="firstName" placeholder="*First name" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="lastName" asp-for="lastName" placeholder="*Last name" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="email" class="form-control" name="from" asp-for="from" placeholder="*Email" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="subject" asp-for="subject" placeholder="*Subject" required>
                <button style="float: left; width: 100%; height: 20%; background-color: #04AA6D; color: white; cursor: pointer; border-radius: 5px;"
                        type="submit">Send Message</button>
            </div>
            <div style="float: right; width: 68%; height: 63%">
                <textarea style="width: 100%; height: 100%;"
                          type="text" class="form-control" name="body" asp-for="body" placeholder="*Message" rows="5" cols="30" required></textarea>
            </div>
        </div>
    </form>
</div>*@


<div class="form-popup" id="contactUs" style="display: none; position: fixed; background-color: floralwhite; color: black; bottom: 15px; right: 15px; width: 700px; height: 360px; border: 1px solid #0A367E; border-radius: 5px;">
    <form class="form-container" id="contactPageForm" method="post" action="/ContactAdvisor/SendEmail" style="width: 90%; height: 90%; margin-left: 5%; margin-top: 5%; position: absolute;">
        <button type="button" class="btn cancel" style="background-color: #EF0107; color: white; cursor: pointer; width: 20px; height: 20px; top: 5px; right: 5px; float: right; position: relative; padding: 0; margin: 0;" onclick="closeContactForm()">
            <p style="width: 13px; height: 13px; top: 50%; left: 50%; transform: translate(25%, -50%);margin: 0;">X</p>
        </button>
        <div style="width: 100%; height: 100%;">
            <h3 style="margin: 0; text-decoration-color: black;">How could we help you?</h3> <br />
            <div style="float: left; width: 30%; height: 63%;">
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="firstName" asp-for="firstName" placeholder="*First name" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="lastName" asp-for="lastName" placeholder="*Last name" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="email" class="form-control" name="from" asp-for="from" placeholder="*Email" required>
                <input style="float: left; width: 100%; height: 15%; margin-bottom: 5%;"
                       type="text" class="form-control" name="subject" asp-for="subject" placeholder="*Subject" required>
                <button style="float: left; width: 100%; height: 20%; background-color: #04AA6D; color: white; cursor: pointer; border-radius: 5px;"
                        type="submit">
                    Send Message
                </button>
            </div>
            <div style="float: right; width: 68%; height: 63%">
                <textarea style="width: 100%; height: 100%;"
                          type="text" class="form-control" name="body" placeholder="*Message" rows="5" cols="30" required></textarea>
            </div>
        </div>
    </form>
</div>


