
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="border:1px solid black;border-radius:10px;width:195px;height:130px;padding:5px;">
    <form id="" method="" action="">
        <div style="margin-top: 5px;margin-bottom: 5px;"><input name="username" placeholder="Username:" style="text-align: left;border-radius:5px;"></div>
        <div style="margin-top: 5px;margin-bottom: 5px;"><input name="password" placeholder="Password:" style="text-align: left;border-radius:5px"></div>
        <input type="submit" value="Login" style="margin-top: 5px; margin-bottom: 5px; background-color: lightsteelblue; border-radius: 5px;">
    </form>
</div>
